@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200
}

body {
  font-family: Aeroport, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.page {
  min-height: 100dvh;
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

@layer base {
  @font-face {
    font-family: Aeroport;
    font-weight: 700;
    src: url('/fonts/AeroportBold.woff') format("woff");
  }

  @font-face {
    font-family: Aeroport;
    font-weight: 500;
    src: url('/fonts/AeroportMedium.woff') format("woff");
  }

  @font-face {
    font-family: Aeroport;
    font-weight: 400;
    src: url('/fonts/Aeroport.woff') format("woff");
  }
}